/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}




/* ---- particles.js container ---- */

#asdf {
	height: 300px;
	width: 100%;
	background: -webkit-radial-gradient(#727ffc, #3549fc, #123be0); /* For Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#727ffc, #3549fc, #123be0); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#727ffc, #3549fc, #123be0); /* For Fx 3.6 to 15 */
	background: radial-gradient(#727ffc, #3549fc, #123be0); /* Standard syntax (must be last) */
}

#large-header {
	background-color: rgb(63, 65, 147);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…AiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==), -webkit-gradient(radial, center center, 0, center center, 364, color-stop(0, rgba(98, 100, 174, 0.75)), color-stop(1, rgba(43, 35, 59, 0.75)));
	background-image: -webkit-repeating-radial-gradient(center center, ellipse closest-corner, rgba(98, 100, 174, 0.75) 0%, rgba(43, 35, 59, 0.75) 100%);
	background-image: repeating-radial-gradient(ellipse closest-corner at center center, rgba(98, 100, 174, 0.75) 0%, rgba(43, 35, 59, 0.75) 100%);
	background-image: -ms-repeating-radial-gradient(center center, ellipse closest-corner, rgba(98, 100, 174, 0.75) 0%, rgba(43, 35, 59, 0.75) 100%);
}
.large-header {
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	max-height: 100%;
	position: relative;
	line-height: 0;
	font-size: 0;
	padding: 0 0 200px;
	//border: solid 1px #ffffff;
}
.large-header .canvas__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#particles-js {
	position: absolute;
	//width: 100%;
	//height: 100%;
	//background-color: #486375;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #4149ca;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
